In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
#%matplotlib inline

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Grand Gaube,MU,2021-04-03 02:49:22,-20.0064,57.6608,80.01,77,13,3.00
1,1,Tacuati,PY,2021-04-03 02:49:22,-23.4500,-56.5833,69.04,55,27,2.66
2,2,Kavaratti,IN,2021-04-03 02:42:23,10.5669,72.6420,82.99,58,100,10.89
3,3,Fort Nelson,CA,2021-04-03 02:43:24,58.8053,-122.7002,32.00,37,75,8.05
4,4,Mataura,NZ,2021-04-03 02:42:27,-46.1927,168.8643,60.01,58,98,8.01

In [4]:
#Get the data type
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
# add a zoom level so that only one map of Earth is shown.
# When we add a center and zoom level to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Grand Gaube,MU,2021-04-03 02:49:22,-20.0064,57.6608,80.01,77,13,3.00
2,2,Kavaratti,IN,2021-04-03 02:42:23,10.5669,72.6420,82.99,58,100,10.89
10,10,Cayenne,GF,2021-04-03 02:49:23,4.9333,-52.3333,75.20,94,90,9.01
11,11,Hithadhoo,MV,2021-04-03 02:42:51,-0.6000,73.0833,84.06,73,17,17.65
12,12,Puerto Ayora,EC,2021-04-03 02:42:24,-0.7393,-90.3518,77.00,93,72,1.99
14,14,Butaritari,KI,2021-04-03 02:42:35,3.0707,172.7902,82.36,79,22,14.67
15,15,Hobart,AU,2021-04-03 02:42:33,-42.8794,147.3294,88.00,15,0,28.77
24,24,Vaini,TO,2021-04-03 02:42:53,-21.2000,-175.2000,86.00,66,75,3.44
28,28,Aquiraz,BR,2021-04-03 02:49:25,-3.9014,-38.3911,82.40,83,40,4.61
29,29,Neiafu,TO,2021-04-03 02:49:25,-18.6500,-173.9833,86.00,70,40,8.05

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0    Grand Gaube      MU     80.01 -20.0064   57.6608
2      Kavaratti      IN     82.99  10.5669   72.6420
10       Cayenne      GF     75.20   4.9333  -52.3333
11     Hithadhoo      MV     84.06  -0.6000   73.0833
12  Puerto Ayora      EC     77.00  -0.7393  -90.3518
14    Butaritari      KI     82.36   3.0707  172.7902
15        Hobart      AU     88.00 -42.8794  147.3294
24         Vaini      TO     86.00 -21.2000 -175.2000
28       Aquiraz      BR     82.40  -3.9014  -38.3911
29        Neiafu      TO     86.00 -18.6500 -173.9833

In [32]:
hotel_df.count()

City          152
Country       152
Max Temp      152
Lat           152
Lng           152
Hotel Name    152
dtype: int64

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [45]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Grand Gaube,MU,80.01,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
2,Kavaratti,IN,82.99,10.5669,72.6420,Hotels in Lakshadweep Islands
10,Cayenne,GF,75.20,4.9333,-52.3333,Hôtel Le Dronmi
11,Hithadhoo,MV,84.06,-0.6000,73.0833,Scoop Guest House
12,Puerto Ayora,EC,77.00,-0.7393,-90.3518,Finch Bay Galapagos Hotel
14,Butaritari,KI,82.36,3.0707,172.7902,Isles Sunset Lodge
15,Hobart,AU,88.00,-42.8794,147.3294,Mantra on Collins Hobart
24,Vaini,TO,86.00,-21.2000,-175.2000,Keleti Beach Resort
28,Aquiraz,BR,82.40,-3.9014,-38.3911,Pousada Rua Camurupim
29,Neiafu,TO,86.00,-18.6500,-173.9833,Mystic Sands

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [55]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [56]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))